<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>portfoli Website Template | Home :: W3layouts</title>
<link href="./css/style.css" rel="stylesheet" type="text/css"  media="all" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="./css/default.css" />
<link rel="stylesheet" type="text/css" href="./css/component.css" />
<script src="./js/modernizr.custom.js"></script>
<script type="text/javascript" src="./js/jquery.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
		$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
		});
	});
	</script>
</head>
<body>
<!---start-wrap--->
<!---start-header--->
	<div class="header">
		<div class="wrap">
			<!---start-logo--->
			<div class="logo">
				<a href="index.html">付钊(Zhao Fu)</a>
			</div>
			<!---End-logo--->
			<!---start-top-nav--->
			<div class="top-nav">
				<ul>
					<li><a href="javascript:scroll(0,0)">Me</a></li>
					<li><a href="#introduction" class="scroll">Introduction</a></li>
					<li><a href="#research" class="scroll">Research</a></li>
					<li><a href="#projects" class="scroll">Projects</a></li>
					<li><a href="#contact" class="scroll">Contact</a></li>
				</ul>
			</div>
			<div class="clear"> </div>
			<!---End-top-nav--->
	     </div>
	</div>
		<!---End-wrap--->
	{{ content }}

	<div class="footer">
		<p>Design by &nbsp; <a href="http://w3layouts.com/">w3layouts</a></p>
	</div>

</body>
</html>

